# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore database
db.sqlite3

# Ignore virtual environments
venv/
env/

# Ignore system files
.DS_Store

# Ignore IDE/editor configs
.vscode/
.idea/
*.swp

# Ignore local secrets
*.env
.env

